html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

html{
  font-size: 10px;
}
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
